<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
        <% @posts.each_with_index do |post,index| %>
          <div class="post-preview">
              <%= link_to post do%>
                  <h2 class="post-title">
                      <%= post.title %>
                  </h2>
              <%end%>
            <p class="post-meta">Posted on <%= readable_date(post.created_at) %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p> 
              <hr>
          </div>
        <%end%>

        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                

                <%= paginate @posts %>
                <%= page_entries_info @posts %>
                <br>
                <%= link_to 'New Post →', new_post_path %>

            </li>
        </ul>

    </div>
</div>




